body {
    background-color: wheat;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.main-container .item{
    height: auto;
    width: auto;
    background-color: white;
    margin: 10px auto;

}

@media (min-width: 576px) {
    .column {
        float: none;
        width: auto;
    }
    
    .main-container .item {
        display: inline-block;
    }
    .main-container .item:nth-of-type(4) {
        background-color: purple;
    
        }

}
@media (min-width: 768px) {
    .column {
        float: none;
        width: auto;
    }
    
    .main-container .item {
        display: inline-block;
    }
        .main-container .item {
        background-color: blueviolet;
    }
}
@media (min-width:992px) {
    .column {
        float: none;
        width: auto;
    }
    
    .main-container .item {
        display: inline-block;
    }
    .main-container .item {
        width: 100%;
        background: yellow;
    }

}