* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0% repeat(8, 1fr) 0%;
    grid-template-rows: 30% 35% 35%;

}
.box {
    height: 100%;
    width: 100%;
}
.red-box {
    background-color: red;
    grid-column: 4/8;
    grid-row: 2/3;
}

.blue-box {
    background-color: blue;
    grid-column: 2/3;
    grid-row: 4/-1;
}


